# Eclipse Project Files
.project
.classpath
.settings/
.metadata

# IntelliJ IDEA Project Files
.idea/
*.iml
*.ipr
*.iws
*.swp

#Backup files
*~

# puppet-modules
*.zip
*.gz
*.tar
*.jar

target/

# Vagrant user data
.vagrant/
vagrant/config.yaml

# Virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
