# Eclipse Project Files
.project
.classpath
.settings/
.metadata

# IntelliJ IDEA Project Files
.idea/
*.iml
*.ipr
*.iws
*.swp

#Backup files
*~

# puppet-modules
*.zip
*.gz
*.tar
*.jar
*.deb
*.rpm

# File directories
modules/apim/files/*
!modules/apim/files/.gitkeep

target/

# puppet packages
pkg/
